div.annime, div.annimefm {
	  animation-name: annime;
	  animation-duration: 5s;
      animation-iteration-count:infinite;
      width:200px;
      height: 300px;
      background-color: red;
      padding: 5px;
      position: relative;
    } 
@-moz-keyframes annime {
      from { margin-left:100%;
        width:100%;}    
      to {margin-left:0%;
        width:50px;
        height:5px;
         transform: scale(0.1);}
    }  
@-webkit-keyframes annime {
      from {  margin-left:700px;
        width:100%;}   
      to { width:50px;
       height:5px;
       transform: scale(0.1);}
    }
div.annimefm{animation-fill-mode:forwards; /*testez aussi backwords */
             animation-iteration-count:3;
              } 