.content,.contentps{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	width:360px;
    height:300px;
    border-width:3px;
    border-style:solid;
    border-color:transparent;
    animation-delay:2s;
    animation-name:animationfb;
    animation-duration:10s;
    animation-direction:alternate;
    animation-iteration-count:5;
    animation-timing-function:linear;
}

.fbox{
	display:flex;
    justify-content:center;/*horizontal*/
	align-items:center;/*vertical*/
	border-style: solid;
	border-color: blue;
	background-color:yellow;
	text-align:center;
	color: red;
	width:100px;
}

@keyframes animationfb{
	0% { transform:rotate(0deg); }
	20% { transform:rotate(72deg); 
	  /*rotate -> sens montre*/
	     border-style:solid; 
	     border-color:red;}
	40% {transform:rotate(144deg);}
	60% {transform:rotate(216deg);
	     border:none;
	      }
	80% {transform:rotate(288deg);
	     border:none; }
	100% {transform:rotate(360deg);}
}

.contentps:hover{
	animation-play-state:paused;
	}
