div.annime {
      -moz-animation-duration: 5s;
      -webkit-animation-duration: 5s;
      -moz-animation-name: annime;
      -webkit-animation-name: annime;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;
      width:200px;
      height: 300px;
      background-color: red;
      padding: 5px;
    } 
    @-moz-keyframes annime {
      from { margin-left:100%;
        width:100%;
      }    
      to {margin-left:0%;
        width:100%;
         transform: scale(0.1);
      }
    }  
    @-webkit-keyframes annime {
      from {  margin-left:700px;
        width:100%;
      }   
      to { width:50px;
       height:5px;
       transform: scale(0.1);
      }
    }