div {
   -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
   -webkit-animation-timing-function:  ease; /* ease is the default */
   -webkit-animation-delay: 5s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-name: annimation1;
   -moz-animation-name: annimation1;
   width:200px;
   height: 300px;
   background-color: red;
   
}

@-webkit-keyframes annimation1 {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

@-moz-keyframes annimation1 {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}


h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
