body {
     background-image: url(../HTML/images/flowers-bouquet-1031266_640.jpg);
     background-repeat: no-repeat; /* ou repeat-x ou repeat-y repetition image*/
     /*background-size: 50em 10em;*/ /*Largeur Hauteur*/
     /*background-size: 400px 300px;*/ /*Largeur Hauteur*/
    background-size: cover; /*couvrir toute la page*/
    
}
