.colonnes, .colonnesfixes{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	column-count: 4;
	column-width: 170px;
	column-gap: 30px;
	column-rule-width: 10px;
	column-rule-style: dashed;
	column-rule-color: blue;
	text-align: justify;
}
.colonnesfixes{
	height:35px;
}
.unecolonne{
	column-span: 1;
	text-align: center;
	display: block;
}
.toutes{
	column-span: all;
	text-align: center;
	font-size: 30px;
	color:red;
	display: block;
}
