#trans1{
     /* navigateur supportant le préfixewebkit*/
    -webkit-transition-property: all;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,0.3,1,0.1);
    -webkit-transition-delay: 1s;
    /* navigateur supportant le standard */
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 10s;
}

#trans1:hover{
     font-size:84px;
     width:600px;
     height:500px;
     background-color:purple;
}

