#rotation,a{
 left:300px; /*on bouge un peu pour bien voir les carrés*/
 -webkit-transform: rotate(50deg);
  transform: rotate(150deg);
}

#translation{
 -webkit-transform: translate(50px,300px);
  transform: translate(50px,300px);
}

#rotxy{
  left:350px; /*on bouge un peu pour bien voir les  carrés*/
  top:400px; /*on bouge un peu pour bien voir les  carrés*/
 -webkit-transform: skew(15deg,27deg);
  transform: skew(15deg,27deg);
}

#echele{
  left:600px; /* on bouge un peu pour bien voir les carres */
  -webkit-transform: scaleX(1.5);
  transform: scaleX(1.5);
}
/*rotation 3D: rotation 50deg sur chaque axe X, Y et Z*/
#rot3d{
  left:600px; /*on bouge un peu pour bien voir les  carrés */
  top:400px; /*on bouge un peu pour bien voir les  carrés*/
 -webkit-transform: rotate3d(1,1,1,50deg);
  transform: rotate3d(1,1,1,50deg);
}

#moitie{/* plusieurs fonction transformations */
	transform:translate(800px,500px) scale(0.5,0.5) rotate(30deg);
	opacity: 0.7;
	color: blue;
	background-color: yellow;
}
a{
	z-index: 100;
	display:block;
	position: relative;
	font-size: 20px;
	width:50px;
	/*left:400px;*/
	left:100px;
	top:100px;
	transform: rotate(20deg) translate(100px) scale(2.0,0.5);
}