#trans1{
    /* plusieurs propriete avec temps different */
    transition: font-size 15s, width 5s, height 10s, backgroung-color 20s; 
}

#trans1:hover{
     font-size:84px;
     width:600px;
     height:500px;
     background-color:purple;
}

