div{
	text-align: center;
	text-decoration: blink;
	padding: 80px;
	width: 40px;
	height:40px;
	vertical-align:middle;
	border-color: red;
	background-color:red;
	position: absolute;
	left:40px;
	top:70px;
	z-index: 10;
}
