#bflexible{
	display:flex;
	flex-direction:row;
	border-style: double;
	border-color: #F86B35;
	width:360px;
    height:150px;
    justify-content:space-around;
    
   }
#item1,#item2,#item3{
	border-style: solid;
	border-color: blue;
	background-color:yellow;
	text-align:center;
	color: red;
	width:100px;
}
#item1{order:1;}
#item2{order:2;}
#item3{order:3;}
#bflexible:hover{
	flex-direction:column;
	align-items:center;
}
/* on va modifier l'ordre d'affichage */
#bflexible:hover #item1{order:2}
#bflexible:hover #item2{order:3}
#bflexible:hover #item3{order:1} 

