@media screen and (orientation:landscape) {
    div {
    	color: yellow;
    }
}

@media screen and (orientation: portrait) {
    div {
    	color: blue;
    }
}

@media screen and (min-device-width: 800px) {
    div {
    	color: red;
    }
}

@media screen and (max-device-width: 400px) {
    div {
    	color: green;
    }
}