body:after{/*copyright à la fin de la pge*/
	content:"\000A9 Johnny Tsheke";
}
span#pers:before { 
	 content:"\02642"; /* &male; homme*/
     color: blue;
     font-size: 12em;
     left:10px;
     position: relative;
     
     }

span#pers:after { 
	 content:"\02640"; /* &female; femme*/
     color: #9400D3;/* violet */
     font-size: 12em;
     left:180px;
     position: relative;
     }

span#tel:before { 
	 content:"\0260E";
     color: #FF1493; /*rose */
     font-size: 15em;
     display: block;
     left: 120px;
     position: relative;
     z-index: 100;
     }
     
span#hart:before { 
	 content:"\02665";
     color: red;
     font-size: 20em;
     display: block;
     left: 150px;
     top: -300px;
     position: relative;
     z-index:99;
     }
